In [1]:
import lightgbm as lgb

In [2]:
ranker = lgb.LGBMRanker()

In [3]:
input = "/home/guhangsong/Data/istella-letor"

In [4]:
testpath = input + "/new_test.txt"

In [7]:
import pandas as pd

In [10]:
df = pd.read_csv(testpath, header=None)

In [25]:
df

,0,1,2,3,4,5,6,7,8,9,...,212,213,214,215,216,217,218,219,220,221
0,0,17,1.000000e+00,4165,0,9658,53,343,6,562,...,150,193,1,0,0,94,1,1,0,2
1,0,17,1.000000e+00,7039,2,293,53,244,5,539,...,187,57,1,0,0,84,1,0,0,0
2,0,17,1.000000e+00,9883,2,74,53,227,4,539,...,0,0,1,0,0,54,1,0,0,0
3,1,17,1.797693e+308,1008,2,288,53,87,5,580,...,82,5,0,0,0,98,1,0,0,0
4,0,17,1.797693e+308,1020,0,29854,53,112,4,539,...,14,98,0,0,0,89,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3128999,0,43632,2.866121e+06,546,0,0,53,122,0,557,...,100,25,100,1,0,97,1,0,0,0
3129000,0,43632,2.866121e+06,556,0,0,53,127,2,557,...,101,26,100,1,0,96,1,0,0,0
3129001,0,43632,2.866121e+06,567,0,0,53,127,0,557,...,101,26,100,1,0,95,1,0,0,0
3129002,3,43632,2.866121e+06,634,0,115,53,127,4,561,...,95,32,100,1,0,90,1,1,0,2
3129003,0,43632,4.144500e+04,660,0,0,53,42,2,546,...,37,5,1,0,0,90,1,0,0,0

In [12]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,212,213,214,215,216,217,218,219,220,221
count,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,...,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3.129004e+06,3129004.0,3.129004e+06
mean,8.881005e-02,2.189909e+04,inf,4.187589e+03,8.256404e-01,5.481660e+01,4.674918e+01,2.412193e+02,1.169293e+00,5.742854e+02,...,1.759080e+02,3.248235e+01,6.714146e+01,8.823348e-01,1.180344e-02,8.574761e+01,8.282789e-01,8.946297e-03,0.0,4.146591e-02
std,4.954981e-01,1.292359e+04,inf,1.539415e+04,9.656960e-01,1.300723e+03,1.522175e+01,6.718018e+02,1.541817e+00,3.429873e+01,...,5.828492e+02,2.578567e+02,4.417899e+01,3.222114e-01,1.080006e-01,1.413307e+01,3.771379e-01,9.416084e-02,0.0,1.874244e+00
min,0.000000e+00,1.700000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.020000e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
25%,0.000000e+00,1.055200e+04,1.303090e+05,5.460000e+02,0.000000e+00,0.000000e+00,3.400000e+01,5.300000e+01,0.000000e+00,5.510000e+02,...,1.700000e+01,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,8.000000e+01,1.000000e+00,0.000000e+00,0.0,0.000000e+00
50%,0.000000e+00,2.130600e+04,1.198763e+06,1.028000e+03,0.000000e+00,0.000000e+00,5.300000e+01,1.050000e+02,0.000000e+00,5.670000e+02,...,6.400000e+01,6.000000e+00,9.900000e+01,1.000000e+00,0.000000e+00,9.000000e+01,1.000000e+00,0.000000e+00,0.0,0.000000e+00
75%,0.000000e+00,3.419600e+04,1.178446e+07,2.124000e+03,2.000000e+00,5.000000e+00,5.300000e+01,2.020000e+02,2.000000e+00,5.880000e+02,...,1.450000e+02,1.800000e+01,1.000000e+02,1.000000e+00,0.000000e+00,9.600000e+01,1.000000e+00,0.000000e+00,0.0,0.000000e+00
max,4.000000e+00,4.363200e+04,1.797693e+308,3.110510e+05,2.000000e+00,1.035044e+06,1.410000e+02,5.399200e+04,1.000000e+01,9.000000e+02,...,3.328200e+04,5.331200e+04,1.000000e+02,1.000000e+00,1.000000e+00,1.000000e+02,1.000000e+00,1.000000e+00,0.0,1.447000e+03

In [17]:
df.groupby([1]).count()

,0,2,3,4,5,6,7,8,9,10,...,212,213,214,215,216,217,218,219,220,221
1,,,,,,,,,,,,,,,,,,,,,
17,437,437,437,437,437,437,437,437,437,437,...,437,437,437,437,437,437,437,437,437,437
21,438,438,438,438,438,438,438,438,438,438,...,438,438,438,438,438,438,438,438,438,438
22,438,438,438,438,438,438,438,438,438,438,...,438,438,438,438,438,438,438,438,438,438
23,438,438,438,438,438,438,438,438,438,438,...,438,438,438,438,438,438,438,438,438,438
30,406,406,406,406,406,406,406,406,406,406,...,406,406,406,406,406,406,406,406,406,406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43612,186,186,186,186,186,186,186,186,186,186,...,186,186,186,186,186,186,186,186,186,186
43613,437,437,437,437,437,437,437,437,437,437,...,437,437,437,437,437,437,437,437,437,437
43617,401,401,401,401,401,401,401,401,401,401,...,401,401,401,401,401,401,401,401,401,401
43620,183,183,183,183,183,183,183,183,183,183,...,183,183,183,183,183,183,183,183,183,183
43632,55,55,55,55,55,55,55,55,55,55,...,55,55,55,55,55,55,55,55,55,55

In [23]:
group = df[[0,1]]

In [30]:
gp = group.groupby([1]).count()[0].tolist()

In [31]:
len(gp)

9799

In [35]:
lgb_train = lgb.Dataset(testpath, label_column=0, group_column=0)

TypeError: __init__() got an unexpected keyword argument 'label_column'

In [34]:
lgb_train.construct()

[LightGBM] [Info] Construct bin mappers from text data time 1.36 seconds

TypeError: Wrong type(int) for label.
It should be list, numpy 1-D array or pandas Series